@import "_variables";

.principal{
	padding-top: 10%;
}
div.carousel.carousel-slider.center.initialized{
	min-height: 400px;
}


.carousel{
 	.indicators{
		.indicator-item{
			background-color: $Gris-letrasoft;
		}
		.indicator-item.active{
			background-color: $Rojo-bullet;
		}
	}
}

.img-regis{
	width: 250px;
	height: 250px;
}
.img-lock{
	width: 140px;
	height: 125px;
}
.img-small{
	width: 48px;
	height: 30px;
}

.gris{
	color: $Gris-letrasoft;
}

.btn.amarillo{
	background-color: $Amarillo-botones !important;
}
.circle-btn{
	width: 70px;
	height: 70px;
}
.masAlto{
	height: 600px;
	padding-top: 5%;
}

.black-text{
	color:black;
}
.cont-img{
	padding-bottom: 5%;
}
.color-turq{
	color:$Turquesa-terminos-y-condiciones;
}
.bg-fin{
	background-color: $Morado-dark;
}
.interrogacion{
	width: 25px;
	height: 25px;
	float:right;
	margin-right:3%;
	margin-top: 3% 
}